.Rproj.user
.Rhistory
.RData
.Ruserdata
group-9.Rproj
*.RData
*.rdb
*.rdx
exploratory_data_analysis_cache/latex/__packages
exploratory_data_analysis_cache/gfm/__packages
eda_cache/gfm/__packages
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/4E1EE4BA-eda/1/s/chunks.json
.Rproj.user/shared/notebooks/4E1EE4BA-eda/1/9045AA98EE26310E/chunks.json
.Rproj.user/shared/notebooks/4E1EE4BA-eda/1/9045AA98AD5ED50B/chunks.json
.Rproj.user/shared/notebooks/42DB0F05-exploratory_data_analysis/1/s/chunks.json
.Rproj.user/shared/notebooks/42DB0F05-exploratory_data_analysis/1/9045AA98EE26310E/chunks.json
.Rproj.user/shared/notebooks/42DB0F05-exploratory_data_analysis/1/9045AA98AD5ED50B/chunks.json
.Rproj.user/9045AA98/sources/s-AD5ED50B/lock_file
.Rproj.user/9045AA98/sources/s-AD5ED50B/BBB10D94-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/BBB10D94
.Rproj.user/9045AA98/sources/s-AD5ED50B/A69CBF08-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/A69CBF08
.Rproj.user/9045AA98/sources/s-AD5ED50B/94A0CF1C-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/70002873-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/6124EC-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/6124EC
.Rproj.user/9045AA98/sources/s-AD5ED50B/44221BEB-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/44221BEB
.Rproj.user/9045AA98/sources/prop/INDEX
.Rproj.user/9045AA98/sources/prop/B78DFAF5
.Rproj.user/9045AA98/sources/prop/1596DF2
.Rproj.user/9045AA98/saved_source_markers
.Rproj.user/9045AA98/rmd-outputs
.Rproj.user/9045AA98/pcs/workbench-pane.pper
.Rproj.user/9045AA98/pcs/windowlayoutstate.pper
.Rproj.user/9045AA98/pcs/source-pane.pper
.Rproj.user/9045AA98/pcs/files-pane.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/4E1EE4BA-eda/1/s/chunks.json
.Rproj.user/shared/notebooks/4E1EE4BA-eda/1/9045AA98EE26310E/chunks.json
.Rproj.user/shared/notebooks/4E1EE4BA-eda/1/9045AA98AD5ED50B/chunks.json
.Rproj.user/shared/notebooks/42DB0F05-exploratory_data_analysis/1/s/chunks.json
.Rproj.user/shared/notebooks/42DB0F05-exploratory_data_analysis/1/9045AA98EE26310E/chunks.json
.Rproj.user/shared/notebooks/42DB0F05-exploratory_data_analysis/1/9045AA98AD5ED50B/chunks.json
.Rproj.user/9045AA98/sources/s-AD5ED50B/lock_file
.Rproj.user/9045AA98/sources/s-AD5ED50B/BBB10D94-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/BBB10D94
.Rproj.user/9045AA98/sources/s-AD5ED50B/A69CBF08-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/A69CBF08
.Rproj.user/9045AA98/sources/s-AD5ED50B/94A0CF1C-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/70002873-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/6124EC-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/6124EC
.Rproj.user/9045AA98/sources/s-AD5ED50B/44221BEB-contents
.Rproj.user/9045AA98/sources/s-AD5ED50B/44221BEB
.Rproj.user/9045AA98/sources/prop/INDEX
.Rproj.user/9045AA98/sources/prop/B78DFAF5
.Rproj.user/9045AA98/sources/prop/1596DF2
.Rproj.user/9045AA98/saved_source_markers
.Rproj.user/9045AA98/rmd-outputs
.Rproj.user/9045AA98/pcs/workbench-pane.pper
.Rproj.user/9045AA98/pcs/windowlayoutstate.pper
.Rproj.user/9045AA98/pcs/source-pane.pper
.Rproj.user/9045AA98/pcs/files-pane.pper
